@font-face {
    font-family: "Bauhaus";
    src: url('../fonts/Bauhaus.ttf');
}

.titulo{
    font-family: Bauhaus;
    font-weight: 900;
}

iframe{
	width: 100%;
	border-style:none;	
}

@media screen and (max-width: 575.99px) {
	.out-sm {
		display: none;
	}
}

@media screen and (min-width: 991.99px) {
    .sas{
        padding-left: 0rem;
        padding-right: 0rem;
    }
}

@media screen and (max-width: 991.99px) {
	.out-md {
		display: none;
    }
    .sas{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}